<h1>Administrator Functions</h1>

<div class="container-fluid">
  <div class="text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th colspan="5"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to "View List of Team Members", admin_teammembers_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Add a Schedule Entry for a Team Member", admin_new_teammember_schedule_path(teammember_id: 12) %></td>
        </tr>
        <tr>
          <td><%= link_to "View All Sessions", sessions_path %></td>
        </tr>
        <tr>
          <td><%= link_to "View All Locations", locations_path %></td>
        </tr>
        <tr>
          <td><%= link_to "View All Roles", roles_path %></td>
        </tr>
      </table>
    </div>
</div>
