<div class="container">
  <h1>Staffing for <%= @session.name %></h1>
  <h3>Location: <%= @schedules.first.location.name %></h3></br>

  <% @dates.each do |date| %>
    <h6><%= date.start_time.strftime("%B %e at %I:%M %P") %><br></h6>
    <table class="table">
      <thead>
        <tr>
          <th>Team Member</th>
          <th>Role</th>
        </tr>
      </thead>
      <% @schedules.each do |schedule| %>
        <tbody>
          <% if schedule.start_time == date.start_time%>
            <tr>
              <td><%= link_to schedule.teammember.name, teammember_schedules_path(schedule.teammember.id) %></td>
              <td><%= schedule.role.name %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  <% end %>

  </br>

  <%= link_to "Back to Team Member List", teammembers_path %>

  </br>

</div>
