<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.end_time %>
</p>

<p>
  <strong>Teammember:</strong>
  <%= @schedule.teammember_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @schedule.location_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @schedule.role_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @schedule.session_id %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
