<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @schedule.end_time %>
</p>

<p>
  <strong>Teammember:</strong>
  <%= @teammember.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @session.name %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
